<div class="row-fluid">
  <div class="span2">
    <%= render "devise/shared/links" %>
  </div>
  
  <div class="span10">
    <h1><%= t('users.unlock.title') %></h1>
    
    <p class="lead"><%= t('users.unlock.intro') %></p>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), 
                        html: { :method => :post, :class => 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>
      
      <%= field_set_tag do %>
        <%= f.input :email, :autofocus => true %>

        <%= f.button :submit, t('users.unlock.submit') %>
      <% end %>
    <% end %>
    
  </div>
</div>