<div class="row-fluid">
  <div class="span2">
    <%= render "devise/shared/links" %>
  </div>
  
  <div class="span10">
    <h1><%= t('users.sign_in.title') %></h1>
    
    <p class="lead"><%= t('users.sign_in.intro') %></p>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => 'form-horizontal' }) do |f| %>
      <%= field_set_tag do %>
        <%= f.input :email, :autofocus => true %>
        <%= f.input :password %>

        <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, :as => :boolean %>
        <% end -%>

        <%= f.button :submit, t('users.sign_in.submit') %>
      <% end %>
    <% end %>
    
  </div>
</div>
