<li class="span2" data-photo-id="<%= photo.id %>">
  <%= link_to [@album, photo].compact, class: 'thumbnail' do %>
    <img src="<%= photo.image.large_thumb.url %>" class="img-rounded"/>
  <% end %>

  <% if photo.title.present? %>
    <h4><%= link_to photo.title, photo %></h4>
  <% end %>

  <% if photo.description.present? %>
    <p>
      <%= photo.description %>
    </p>
  <% end %>
</li>