<div class="row-fluid">
  
  <div class="span9 text-center">
    <%= render 'arrows' %>
    <%= render 'image' %>
  </div>
   
  <div class="span3">
    <div class="well">
    
      <% if can? :manage, Photo %>
  			<%= link_to 'Delete photo', photo_path, method: :delete, confirm: t('confirm'), class: 'btn btn-danger' %>
      <% end %>
    
      <%= simple_form_for @photo do |f| -%>
        <%= f.input :title %>
        <%= f.input :taken_at, as: :date_picker %>
      <% end -%>
    
    </div>
  </div>
  
</div>
