<%= breadcrumbs do %>
  <%= breadcrumb 'Home', root_path %>
  <%= breadcrumb @album.name, album_path(@album) if @album.present? %>
  <%= breadcrumb @photo.title.presence || "Photo ##{@photo.id}", album_photo_path(@album, @photo) %>
<% end %>

<div class="row photo">

  <div class="col-md-8 col-lg-8 col-sm-6 col-xs-12 text-center">
    <%= render 'arrows' %>
    <%= render 'image' %>
  </div>

  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 sidebar">
    <div class="well well-xs">
      <% if @photo.title.present? %>
        <h3><%= @photo.title %></h3>
      <% end %>

      <% if @photo.description.present? %>
        <p>
          <%= @photo.description %>
        </p>
      <% end %>

      <% if @photo.description.present? || @photo.title.present? %><% end %>

      <% if @album.present? %>
        <div class="row albums">
          <%= render @album, col_width: 'col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 col-sm-8 col-sm-push-2' %>
        </div>
      <% end %>

      <dl class="dl-horizontal">
        <% %w{ taken_at author_name }.each do |attr| %>
          <dt><%= Photo.human_attribute_name(attr) %></dt>
          <dd><%= localize_if_date(@photo.public_send(attr)) %></dd>
        <% end %>
      </dl>

      <% if user_signed_in? && can?(:manage, Photo) %>
        <hr>

        <%= simple_form_for [@album, @photo].compact do |f| -%>
          <%= f.input :title %>
          <%= f.input :taken_at, as: :date_picker %>
          <%= f.input :album_id, collection: Album.all %>
          <%= f.input :description, input_html: { :class => 'expandable' } %>

          <%= f.button :submit %>
          <%= link_to 'Delete photo', photo_path, method: :delete, confirm: t('confirm'), class: 'btn btn-danger' %>
        <% end -%>
      <% end %>

    </div>
  </div>

</div>
