<!DOCTYPE html>
<html>
<head>
  <title>June's Photos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'jquery.fileupload-ui.css' %>
  <noscript><%= stylesheet_link_tag 'jquery.fileupload-ui-noscript.css' %></noscript>

  <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav class="navbar navbar-static-top" id="main">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="/">June's Photos</a>

        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <% if user_signed_in? %>
              <%= nav_link 'Home', url: root_path, controller: 'home' %>
              <%= nav_link 'People', url: users_path, controller: 'users' if can? :manage, User %>
              <%= nav_link 'Sign out', url: destroy_user_session_path, method: :delete %>
            <% else %>
              <%= nav_link 'Sign in', url: new_user_session_path, controller: 'sessions' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">

    <% if flash.any? %>
      <div class="row-fluid">
        <div class="span12">
          <% if notice %><div class="alert alert-success"><%= notice %></div><% end %>
          <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>

</body>
</html>
